<header
  class="d-flex flex-wrap py-3 border-buttom header-box justify-content-between">
  <div class="col-md-3 mb-2">
    <a class="navbar-brand logo" [routerLink]="['']">
      <img src="/assets/logo/PassionFroid.png" width="50" height="50" class="d-inline-block align-center" alt="">
      PassionFroid
    </a>
  </div>
  <div class="nav__right d-flex">
    <ul class="navigation col-md-auto mb-2 my-auto">
      <li>
        <a class="nav__link px-2" [routerLink]="['home']" routerLinkActive="active">Home</a>
      </li>
      <li>
        <a class="nav__link px-2" [routerLink]="['dashboard']" routerLinkActive="active">Dashboard</a>
      </li>
      <li>
        <a class="nav__link px-2" [routerLink]="['images-list']" routerLinkActive="active">Stock</a>
      </li>
      <li>
        <a class="nav__link px-2" href="#">About</a>
      </li>
    </ul>
  <div class="text-end my-auto me-2" *ngIf="!authService.isAuthenticated()">
    <button class="btn-login me-2" [routerLink]="['/login']">Connexion</button>
    <button class="btn-signup" [routerLink]="['/signup']">Inscription</button>
  </div>
  <div class="col text-end me-1" *ngIf="authService.isAuthenticated()">
    <div ngbDropdown class="d-inline-block">
      <button type="button" class="btn btn-signup" aria-haspopup="true"
        id="logoutDropDown" aria-expanded="false" ngbDropdownToggle>
        Mon compte
      </button>
      <div ngbDropdownMenu="logoutDropDown">
        <button ngbDropdownItem class="text-secondary" (click)="logout()">Déconnexion</button>
      </div>
    </div>
    </div>
  </div>
</header>