<div class="jumbotron jumbotron-fluid mb-3">
  <div class="container-fluid">
    <h1 class="display-5">Découverez toutes les photos</h1>
    <p class="lead">Trouvez l'image parfaite pour votre campagne marketing.</p>
    <div class="btn-toolbar justify-content-sm-between" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group my-auto me-2" role="group" aria-label="First group">
        <input class="form-check-input" type="checkbox" name="selectAll" value="selectAll">
      </div>
      <div class="btn-group me-2" role="groupe" aria-label="Second group">
        <label class="form-check-label my-auto" for="selectAll">Sélectionnés</label>
      </div>
      <div class="btn-group" role="group" aria-label="Third group">
        <button type="button" class="btn btn-outline-danger me-1" (click)="onDeleteSelectedImages()"><i class="bi bi-trash"></i></button>
      </div>
      <div class="btn-group me-2 w-50" role="group" aria-label="Fourth group">
        <input type="text" class="form-control" placeholder="Rechercher..." aria-label="Rechercher une image" [(ngModel)]="searchPhrase" (input)="onSearch()">
        <button class="btn btn-search" type="button" (click)="onSearch()"><i class="bi bi-search"></i></button>
        <button 
          class="btn btn-mic" 
          type="button"
          id="record"
          (click)="toggleVoiceRecognition()">
          <i [ngClass]="{'bi bi-mic-mute': isListening == false, 'bi bi-mic': isListening == true}"></i>
        </button>             
      </div>
      <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="btnradio" id="list" autocomplete="off"
          (click)="isList = true; isGrid = false; isChecked = true">
        <label class="btn btn-outline-secondary" for="list"><i class="bi bi-list-ul"></i></label>
        <input type="radio" class="btn-check" name="btnradio" id="grid" autocomplete="off"
          (click)="isList = false; isGrid = true; isChecked = true">
        <label class="btn btn-outline-secondary" for="grid"><i class="bi bi-grid"></i></label>
      </div>
      <div class="btn-group me-2" role="group" aria-label="Fifth group">
        <p class="text my-auto">{{ nbImages }}</p>
      </div>
    </div>
  </div>
</div>

<!-- audio visualizer-->
<iframe id="da-iframe" style="width: 50%;height: 500px;" src="https://audio-visualizer-weld.vercel.app/index.html" allow="microphone" allowtransparency="true">
</iframe>

<!-- display loading -->
<div class="text-center justify-content-center" *ngIf="isLoading">
  <div>
    Chargement en cours
    <div class="spinner-grow spinner-grow-sm text-primary" role="status">
      <span class="sr-only"></span>
    </div>
    <div class="spinner-grow spinner-grow-sm text-secondary" role="status">
      <span class="sr-only"></span>
    </div>
    <div class="spinner-grow spinner-grow-sm text-success" role="status">
      <span class="sr-only"></span>
    </div>
  </div>
</div>
<!-- display list-->
<div class="container-fluid" *ngIf="isList">
  <div class="panel">
    <div class="table-container">
      <table class="table table-striped">
        <thead class="bg-light w-100">
          <tr class="d-flex">
            <th class="col-1 text-center"><i class="bi bi-list"></i></th>
            <th class="col-4 text-center">Description</th>
            <th class="col-1 text-center">Fiabilité</th>
            <th class="col-3 text-center">Tags</th>
            <th class="col-3 text-center">Actions</th>
          </tr>
        </thead>
        <tbody (scroll)="onScroll($event)">
          <tr class="d-flex infiniteScrollContainer" *ngFor="let image of imagesList">
            <div class="d-flex" (mouseover)="image.hover = true" (mouseleave)="image.hover = false">
              <div class="my-auto mr-1" *ngIf="image.hover || selectedImages.includes(image._id.$oid)">
                <input type="checkbox" name="selectedImages" [value]="image._id.$oid" (change)="onCheckboxChange($event, image._id.$oid)">
              </div>
              <td class="col-1 text-start">
                <img src="{{ image.url }}" alt="" style="width: 45px; height: 45px" class="rounded-circle"/>
              </td>
            </div>
            <td class="col-4 text-center">
              <p>{{ image.description.captions[0].text | titlecase}}</p>
            </td>
            <td class="col-1 text-center">
              <span>{{ image.description.captions[0].confidence | percent }}</span>
            </td>
            <td class="col-3 text-center">
              <p class="badge rounded-pill bg-info me-1 my-auto text-dark" *ngFor="let tag of image.tags.slice(0, 3)">
                {{ tag.name }}</p>
            </td>
            <td class="col-3 text-center">
              <button type="button" class="btn btn-outline-secondary me-1" (click)="openEditImageModal()">
                <i class="bi bi-pencil-square"></i>
              </button>
              <button type="button" class="btn btn-outline-danger me-1" (click)="onDeleteImage(image._id.$oid)">
                <i class="bi bi-trash"></i>
              </button>
              <a type="button" class="btn btn-outline-warning me-1" href="{{ image.url }}">
                <i class="bi bi-cloud-download"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- Edit Modal -->
<ng-template #EditNameModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Modifier le nom de l'image</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <form [formGroup]="EditImageNameForm">
    <div class="form-group">
      <div class="modal-body">
        <label for="filter-name">Nouveau nom</label>
        <input type="text" class="form-control" id="image-name" name="imageName"
          formControlName="imageName">
      </div>
    </div>
  </form>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.dismiss()">Annuler</button>
    <button type="button" class="btn btn-success">Enregistrer</button>
  </div>
</ng-template>
<!-- display grid -->
<div class="container-fluid" *ngIf="isGrid">
  <div class="section-gray" (scroll)="onScroll($event)">
    <div class="flex">
      <div class="row">
        <div class="col-md-3" *ngFor="let image of imagesList">
          <div class="card mb-5">
              <a [routerLink]="['/image-info', image._id.$oid]">
                <div class="card-image">
                <img class="img" [src]="image.url">
              </div>
              </a>
            <div class="card-body">
              <div class="card-title text-center">
                <p class="badge rounded-pill bg-info me-1 my-auto text-dark" *ngFor="let tag of image.tags.slice(0, 3)">
                  {{ tag.name }}</p>
              </div>
              <div class="card-text">
                <p>{{ image.description.captions[0].text | titlecase }}</p>
              </div>
              <div class="row">
                <p class="col my-auto">Fiabilité <span
                    style="color:#6f42c1">{{ image.description.captions[0].confidence | percent }}</span></p>
                <!-- Default dropup button -->
                <div class="col text-end">
                  <div ngbDropdown placement="top-end" class="d-inline-block">
                    <button type="button" class="btn btn-signup" aria-haspopup="true"
                      id="actionsDrop" aria-expanded="false" ngbDropdownToggle>
                      Actions
                    </button>
                    <div ngbDropdownMenu="actionsDrop">
                      <button ngbDropdownItem class="text-secondary" (click)="openEditImageModal()">Modifier</button>
                      <button ngbDropdownItem class="text-danger" (click)="onDeleteImage(image._id.$oid)">Supprimer</button>
                      <a type="button" ngbDropdownItem class="text-warning" href="{{ image.url }}">Télécharger</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>