<div class="container-fluid mt-4">
  <div class="row">
    <div class="d-flex home__container">
      <div class="home__left col-6">
        <h1 class="home__heading">Marketing <br>Digital</h1>
        <p class="home__paragraph">
          Bienvenue dans notre nouvelle expérience visuelle ! Assistée par une
          IA pour une banque d'images innovante et intuitive.
        </p>
      </div>
      <div class="robot col-6">
        <img src="../../../assets/images/robot.png" alt=""/>
      </div>
    </div>
  </div>
</div>
