/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";

body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
  background: url("./assets/images/fond.png") no-repeat center center fixed;
  cursor: url("https://assets-global.website-files.com/60b118690f8e028ab7d93790/6102ad7e3ac0cbabbfd3b5d3_Cursor.svg") 2 2, auto;
}
